.career-topic-details {
    text-align: center;
    margin: 20px;
  
    h2 {
      font-size: 24px;
      color: #007bff;
    }
  
    p {
      font-size: 16px;
      color: #6c757d;
    }
  
    .btn {
      margin-top: 20px;
    }
  }
  